<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Micha den Heijer | Projects</title>
    <meta name='description' content="Micha den Heijer | Here are all of projects, feel free to look around!" />
    <meta property="og:title" content="Micha den Heijer | Projects" />
    <meta property="og:description" content="Micha den Heijer | Here are all of projects, feel free to look around!" />
    <meta property="og:url" content="http://michadenheijer.com/projects" />
    <meta property="og:image" content="https://michadenheijer.com/images/favicon.png" />
    <meta property="og:type" content="website" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://michadenheijer.com/assets/css/main.css?v=1.4.2" />
    <link rel='shortcut icon' type='x-icon' href='https://michadenheijer.com/images/favicon.ico' />
    <!--<link rel="alternate" href="https://michadenheijer.com/projects" hreflang="en" />
    <link rel="alternate" href="https://michadenheijer.com/projects" hreflang="x-default" />
    <link rel="alternate" href="https://michadenheijer.com/nl/projecten" hreflang="nl" />-->
</head>

<body class="subpage">
    <!--<div id="lang-message">
        <p id="lang-message-text">
            This page is also available in other languages
            <button class="button-message" id="button-nl-pr">Nederlands</button><button class="button-message" id="button-close">Close</button>
        </p>
    </div>-->

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="https://michadenheijer.com/">Micha <span>den Heijer</span></a></div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="https://michadenheijer.com/">Home</a></li>
            <li><a href="https://michadenheijer.com/projects">Projects</a></li>
            <li><a href="https://michadenheijer.com/social-media">Social Media</a></li>
            <li><a href="https://michadenheijer.com/credits">Credits</a></li>
            <li><a href="https://about.me/michadenheijer">More about me <span class="hidden">aa</span><i class="fa fa-external-link"></i></a></li>
        </ul>
    </nav>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img src="https://michadenheijer.com/images/pic05.jpg" alt="" />
                </div>
                <div class="content no-overflow">
                    <header class="align-center">
                        <h1>My projects</h1>
                        <p>most of them, I guess</p>
                    </header>
                    <hr />
                    {{ range .Data.Pages }}
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                         <p>
                          {{ .Summary }}<br><br>
                          <strong>Reading time: {{ .ReadingTime }} min</strong><br>
                          <a href="{{ .Permalink }}">Read more...</a>
                        </p>
                        
                        <hr />
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="wrapper">
        <div class="inner">
            <div class="copyright">
                &copy; 2018 Micha den Heijer. <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://michadenheijer.com/assets/js/jquery.min.js"></script>
    <script src="https://michadenheijer.com/assets/js/jquery.scrolly.min.js"></script>
    <script src="https://michadenheijer.com/assets/js/jquery.scrollex.min.js"></script>
    <script src="https://michadenheijer.com/assets/js/skel.min.js"></script>
    <script src="https://michadenheijer.com/assets/js/util.js"></script>
    <script src="https://michadenheijer.com/assets/js/main.js"></script>
    <!--<script src="https://michadenheijer.com/assets/js/language-nl.js"></script>-->
    <script src="assets/js/tracking.js"></script>

</body>

</html>

